* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
body {
  background-color: #eee;
  padding: 5rem 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #222;
  font-size: 3rem;
  margin-bottom: 2rem;
}

button {
  background-color: #222;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.colors-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.colors-container .color-box h2 {
  background-color: black;
  color: #fff;
  padding: 5rem 5rem;
  font-weight: 800;
  font-size: 2.5rem;
}

.colors-container .color-box {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}